[Unit]
Name=Cat-DB
Description=a place for your cat images
After=network.target

[Service]
Type=simple
User=node
ExecStart=/usr/bin/node /home/node/cat-database/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target