[Unit]
Description=Cat-DB
After=network.target

[Service]
Type=simple
User=root
ExecStart=/snap/bin/node /etc/cat-database/index.js
Restart=on-failure
StandardOutput=append:/var/log/cat-db/default.log
StandardError=append:/var/log/cat-db/error.log
WorkingDirectory=/etc/cat-database

[Install]
WantedBy=multi-user.target